.overall {
  background: linear-gradient(rgba(212, 207, 207, 0.8), rgba(128, 56, 144, 0.8)), url('https://assets.mainehealth.io/s3fs-public/styles/hero_banner/public/imported_images/banner-fbc-mother-baby.jpg?h=a612ed85') no-repeat center/cover, lavender;
  text-align: center;
  padding: 40px;
  min-height: 30vh; /* Change height to min-height */

  color: black;
}

.link-heading {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: flex;

}

.link-heading:hover {

  color: grey;
  /* Semi-transparent white background on hover */
}

.link-heading h4 {
  margin: 10px 0;
}

.link-heading h4::before {
  content: '\2022';
  /* Bullet point */
  margin-right: 10px;
  color: black;
}

.heading {
  color: black;
}

.page1 {
  width: 100%;
}

.answer {
  background-color: white;
  color: black;
  padding: 20px;
}

.points {
  list-style-type: disc;
  padding-left: 20px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  /* Optional: Maintains aspect ratio while covering the container */
}

.image3 {
  width: 250px;
  height: 100px;
  object-fit: cover;

}

@media (max-width: 768px) {

  .overall,
  .answer {
    width: 100%;
    margin: auto;
    color: black;
  }
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    /* Make the image fill the width of its container */
    height: auto;
    /* Maintain aspect ratio */
  }

  .points {
    /* Adjust styling for points container on smaller screens */
    font-size: 14px;
  }
}
