.gallery{
    margin:80px auto;
    width:90%;
    display:flex;
    align-items: center;
  
    justify-content: space-between;
}
.gallery img{
    width: 100%;
    border-radius:10px;
    display:block;
}
.gallery_1{
    flex-basis: 31%;
   
    position: relative;
}
.gallery {
    display: flex;
    flex-wrap: wrap; /* Wrap images to the next row */
    gap: 10px; /* Add spacing between images */
  }
  
  .gallery_1 {
    flex: 1; /* Distribute available space evenly among images */
  }
  
.caption{
    border-radius:10px;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0,15,152,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity:0;
    padding-top:100px;
    transition:0.4s; 
}
.caption img{
    width:70%;
    margin-bottom:10px;
}

.gallery_1:hover .caption{
    opacity:1;
    padding-top:10px;
}

@media(max-width:650px){
    .gallery{
        flex-direction: column;
    }
    .gallery_1{
        flex-basis: 100%;
        margin:20px;
    }
}